<!DOCTYPE html>

<html>
<head>
  <title>Bank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render :partial => 'layouts/header' %>
<div class="space">
<%= yield %>
<div class="image">
<%= image_tag("http://www.techzoo.org/wp-content/uploads/2012/10/online-bank-management-project-java-jsp.jpeg") %>
</div>
</div>
<%= render :partial => 'layouts/footer' %>
</body>
</html>
