<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h4>
      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.label :account_number %><br>
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :branch_id%><br>
    <%= select_tag "account[branch_id]", options_from_collection_for_select(@branches, "id", "branch_name"), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :customer_id%><br>
    <%= select_tag "account[customer_id]", options_from_collection_for_select(@customers, "id", "customer_name"), include_blank: true  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


